<div class="grid grid-cols-1 md:grid-cols-6 place-items-center gap-5">

    <div class="w-3/4 sm:w-1/2 md:w-full md:col-span-2">
        <img src="../../../assets/images/me.png"  alt="Sergio" class="max-h-screen object-cover rounded-xl">
    </div>

    <div class="place-self-center sm:col-span-4 lg:ml-10">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4">

            <div class="grid grid-cols-7 grid-rows-2 gap-x-2">
                <div class="row-span-full col-span-1 sm:col-span-2 place-self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-full xl:w-11/12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M12 14l9-5-9-5-9 5 9 5z" />
                        <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                    </svg>
                </div>
                <div class="col-span-6 sm:col-span-5 prose">Estudios</div>
                <div class="col-span-6 sm:col-span-5">Ingeniería Electrónica</div>
            </div>

            <div class="grid grid-cols-7 grid-rows-2 gap-x-2">
                <div class="row-span-full sm:col-span-2 place-self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-full xl:w-11/12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </div>
                <div class="col-span-6 sm:col-span-5 font-extrabold">Trabajo</div>
                <div class="col-span-6 sm:col-span-5">Power Electronics</div>
            </div>

            <div class="grid grid-cols-7 grid-rows-3 gap-x-2">
                <div class="row-span-full sm:col-span-2 place-self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-full xl:w-11/12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </div>
                <div class="col-span-6 sm:col-span-5 font-extrabold">Localización</div>
                <div class="col-span-6 sm:col-span-5">Lorca (Murcia)</div>
                <div class="col-span-6 sm:col-span-5">Valencia (Valencia)</div>
            </div>
            
            <div class="grid grid-cols-7 grid-rows-2 gap-x-2">
                <div class="row-span-full sm:col-span-2 place-self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-full xl:w-11/12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                    </svg>
                </div>
                <div class="col-span-6 sm:col-span-5">Idiomas</div>
                <div class="col-span-6 sm:col-span-5">Inglés B2</div>
            </div>

        </div>
    </div>
</div>
<div>
    <div>
        <h2 class="font-mono text-3xl font-bold uppercase">Sergio Ibarra Muñoz</h2>
        <h3 class="font-serif text-xl font-semibold capitalize">Ingeniero Electrónico</h3>
        <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <h2 class="uppercase font-title text-2xl underline">Programas</h2>
    <h3>PCB</h3>

    <div class="flex flex-row flex-wrap flex-initial place-items-center gap-4 m-3">     
        <application data-tippy-content="KiCad" name="KiCad" logo="../../../assets/images/KiCad.jpg" [(isHover)]="hover" [ngClass]="{'blur-sm': hover}"></application>
        <application data-tippy-content="Altium" name="Altium" logo="../../../assets/images/Altium.png" [(isHover)]="hover" [ngClass]="{'blur-sm': hover}"></application>
        <application data-tippy-content="Mentor" name="Mentor" logo="../../../assets/images/Mentor.jpg" [(isHover)]="hover" [ngClass]="{'blur-sm': hover}"></application>
    </div>
</div>
