<div id="photo" class="grid grid-cols-1 md:grid-cols-6 place-items-center gap-5">
    <div class="w-3/4 sm:w-1/2 md:w-full md:col-span-2">
        <img src="../../../assets/images/me.png"  alt="Sergio" class="max-h-screen object-cover rounded-xl">
    </div>
    <div class="place-self-stretch md:col-span-4">
        <h2 class="font-mono text-3xl font-bold uppercase">Sergio Ibarra Muñoz</h2>
        <h3 class="font-serif text-xl font-semibold capitalize">Ingeniero Electrónico</h3>
        <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>
<div>
    <div>
        <h2 class="font-mono text-3xl font-bold uppercase">Sergio Ibarra Muñoz</h2>
        <h3 class="font-serif text-xl font-semibold capitalize">Ingeniero Electrónico</h3>
        <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <h2 class="uppercase font-title text-2xl underline">Programas</h2>
    <h3>PCB</h3>

    <div class="flex flex-row flex-wrap flex-initial place-items-center gap-4 m-3">     
            <div data-tippy-content="KiCad" class="">
                <img src="../../../assets/images/KiCad.jpg" alt="KiCad" class="application">
            </div>
            <div data-tippy-content="Altium" class="">
                <img src="../../../assets/images/Altium.png" alt="Altium" class="application">
            </div>
            <div data-tippy-content="Mentor Pads" class="">
                <img src="../../../assets/images/Mentor.jpg" alt="Mentor" class="application">
            </div>
    </div>
</div>
